

<header>
  <div class="container">
    <a class="logo" href="#"></a>
    <div class="text-inverse h5">Distribuidores de Materiales de Construcción en Costa Rica</div>
    <a href="#footer" id="contacto" class="text-inverse h5">CONTACTO</a>
  </div>
</header>

<!-- Carousel -->
<section> 
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  
  <!-- Carousel items -->
  <div class="carousel-inner">
    <!--Item-->
    <div class="active item">
      <div class="container headerCont">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-3">
          <img class="" src="*/assets/logo-rodco-anterior.png" alt="">
        </div>
        <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2">
          <h2 class="wow fadeInLeft" data-wow-delay="100">Materiales de Construcción</h2>
          <h1 class="wow fadeInLeft" data-wow-delay="300">Costa Rica</h1>  
        </div>
      </div>
    </div>

    <!--Item-->
    <div class="item">
      <div class="container headerCont">
        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
          <img class="" src="*/assets/logo-rodco-anterior.png" alt="">
        </div>
        <div class="col-md-6 col-md-offset-0 col-sm-5 col-sm-offset-0">
          <h2 class="wow fadeInLeft" data-wow-delay="100">DISTRIBUIMOS</h2>
          <h1 class="wow fadeInLeft" data-wow-delay="300">YALE</h1>
          <a href="" class="btn btn-warning btn-lg">Ver productos de YALE<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>

    <!--Item-->
    <div class="item">
      <div class="container headerCont">
        <div class="col-md-5 col-md-offset-1">
          <img class="" src="*/assets/logo-rodco-anterior.png" alt="">
        </div>
        <div class="col-md-6">
          <h2 class="wow fadeInLeft" data-wow-delay="100">DISTRIBUIMOS</h2>
          <h1 class="wow fadeInLeft" data-wow-delay="300">HILCO</h1>
          <a href="" class="btn btn-success btn-lg">Ver productos de Hilco <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>

  </div> 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</section>
<!-- // Carousel -->

<!-- Navigation by Brands -->
<ul class="nav nav-tabs brandNav" role="tablist" id="scroller" >
  <label for="">Buscar por marcas</label>
  <li class="active" id="tab-rodco"><a href="#rodco" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-home"> </span> RODCO</a></li>
  <li id="tab-hilco"><a href="#hilco" role="tab" data-toggle="tab">Hilco</a></li>
  <li id="tab-yale"><a href="#yale" role="tab" data-toggle="tab">Yale</a></li>
  <li id="tab-condusal"><a href="#condusal" role="tab" data-toggle="tab">Condusal</a></li>
  <li id="tab-coflex"><a href="#coflex" role="tab" data-toggle="tab">Coflex</a></li>
  <!--<li id="tab-tricircle"><a href="#tricircle" role="tab" data-toggle="tab">Tri-Circle</a></li>
  <li id="tab-plyco"><a href="#plyco" role="tab" data-toggle="tab">Plyco</a></li> -->
</ul>
<!-- //Navigation by Brands -->

<!--Productos de Google Docs-->

<section class="productsContainer container">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="row">
      <!-- RODCO Tab-->
      <div class="tab-pane active fade in" id="rodco">
        <div id="products"></div>
      </div>
      <!--//RODCO Tab-->
      <!--HILCO Tab-->
      <div class="tab-pane fade" id="hilco">
        <div class="sidebarMenu col-md-3">
          <h4><span class="glyphicon glyphicon-th-list"></span> Categorías de Productos</h4>
          <ul id="" class="filters button-group">
            <li class="button is-checked" data-filter="*">Todos</li>
            <li class="button" data-filter=".discos">Discos Abrasivos</li>
            <li class="button" data-filter=".soldadura">Soldadura</li>
            <li class="button" data-filter=".equipo">Equipo para soldar</li>
          </ul>
        </div>
        <div class="col-md-9 inCategoryProducts">
          <div class="isotope" id="hilcoProducts"></div> 
        </div>
        
      </div>
      <!--//HILCO Tab-->
      <!--YALE Tab-->
      <div class="tab-pane fade" id="yale">
        <div class="sidebarMenu col-md-3">
          <h4><span class="glyphicon glyphicon-th-list"></span> Categorías de Productos</h4>
          <ul id="" class="filtersYale button-group-Yale">
            <li class="button is-checked" data-filter="*">Todos</li>
            <li class="button" data-filter=".candados">Candados</li>
            <li class="button" data-filter=".llavines">Llavines</li>
            <li class="button" data-filter=".cierra">Cierrapuertas</li>
            <li class="button" data-filter=".equipo">Equipo Especial de Seguridad</li>
            <li class="button" data-filter=".digital">Digital</li>
            <li class="button" data-filter=".cerraduras">Cerraduras</li>
          </ul>
        </div>
        <div class="col-md-9 inCategoryProducts">
          <h5 class="category">
            YALE
            <img src="*/assets/logo-yale.png" alt=""><span class="glyphicon glyphicon-chevron-down pull-right"></span>
          </h5>
          <div class="isotopeYale" id="yaleProducts"></div> 
        </div>
        
      </div>
      <!--//YALE Tab-->
    
    </div><!--//Row-->
  </div><!-- //Tab Content-->   
</section>

<footer id="footer">
  <div class="container">
    <div class="contacto col-md-12">
      CONTACTO <br>
      <p class="h6">correo@rodcocr.com</p>
    </div>
    <div class="clearfix"></div>
    <div class="infocontacto"> 
      <div class="telefono col-md-4">
        <p> <span class="glyphicon glyphicon-earphone"></span></p>
        <p class="h4">Teléfono</p>
        <p>2222-2222</p>
      </div>
       <div class="direccion col-md-4">
        <p><span class="glyphicon glyphicon-map-marker"></span></p>
        <p class="h4">Dirección</p>
        <p>Frente al antiguo Durman Esquivel, Calle Blancos, San José.</p>
      </div>
      <div class="correo col-md-4">
        <p><span class="glyphicon glyphicon-envelope"></span></p>
        
         <div class="form-group">
          <p class="h4">Cotizar</p>
          <div class="input-group">
              <input class="form-control" type="email" placeholder="sucorreo@ejemplo.com" required>
              <a class="input-group-addon btn btn-primary" type="submit">Cotizar</a>

            </div>
            <p>Ingrese su correo electrónico para solicitar una cotización</p>
            
          </div>

      </div> 
      <div class="clearfix"></div> 
    </div>
    
  </div>
</footer>
